*{
   text-align: center;
}
#main_div{
    background-image: url(images/bg.jpeg);
    width: 60%;
    height: 90%;
    padding: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-left: 20%;
    /* margin: auto; */
    border: 2px solid black;
}
#first_div{
    padding: 1em;
}
label{
    font-size: 32px;
    color: rgb(0, 17, 255);
    padding-bottom: 1em;
    font-weight: bold;
}
#inputNumber{
    padding:1em;
    border: 2px solid black;
    border-radius: 30px;
}
#checkButton{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
}
#message{
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 32px;
}
#startOverBtn{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
}
