body{
    background-color: lemonchiffon;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  h1{
    text-align: center;
    text-decoration: underline;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table{
    margin-left: auto;
    margin-right: auto;
  }