* {
    text-align: center;
}
body{
    background-color:lightcyan;
}
#pro_pic{
    border-radius: 50%;
    width: 200px;
}
table{
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

#header_name{
    text-shadow: 2px 2px #ADFF2F;
}
.highlight{
    text-shadow: 2px 2px #ADFF2F;
}

.interests_table th{
    text-transform: capitalize;
}
.hyperlinks{
    text-decoration: none;
    color: green;
}
#submit_button{
    background-color: transparent;
    border-radius: 12px;
}