h1{
    text-align: center;
}

#classworks{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #classworks td, #classworks th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #classworks tr:nth-child(even){background-color: #f2f2f2;}
  
  #classworks tr:hover {background-color: #ddd;}
  
  #classworks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  }
  
  #assignments{
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  #assignments td, #assignments th {
      border: 1px solid #ddd;
      padding: 8px;
    }
  #assignments tr:nth-child(even){background-color: #f2f2f2;}
  
  #assignments tr:hover {background-color: #ddd;}
  
  #assignments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }