.main{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:80%;
    height: 80%;
    display: grid;
    grid-template-areas: 'input input input plus'
                         'one two three minus'
                         'four five six multiply'
                         'seven eight nine divide'
                         'zero equals equals clear';
    grid-gap: 10px;
    background-color: rgb(122, 185, 231);
    padding:5em;
    margin: 10%;
    border-radius: 40px;

}
#inputCal{
    grid-area: input;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 26px;
}

#one{
    grid-area: one;
    font-weight: bold;
    font-size: 28px;
}
#two{
    grid-area: two;
    font-weight: bold;
    font-size: 28px;
}
#three{
    grid-area: three;
    font-weight: bold;
    font-size: 28px;
}
#four{
    grid-area: four;
    font-weight: bold;
    font-size: 28px;
}
#five{
    grid-area: five;
    font-weight: bold;
    font-size: 28px;
}
#six{
    grid-area: six;
    font-weight: bold;
    font-size: 28px;
}
#seven{
    grid-area: seven;
    font-weight: bold;
    font-size: 28px;
}
#eight{
    grid-area: eight;
    font-weight: bold;
    font-size: 28px;
}
#nine{
    grid-area: nine;
    font-weight: bold;
    font-size: 28px;
}
#ten{
    grid-area: ten;
    font-weight: bold;
    font-size: 28px;
}
#plus{
    grid-area: plus;
    font-weight: bold;
    font-size: 28px;
}
#minus{
    grid-area: minus;
    font-weight: bold;
    font-size: 28px;
}
#divide{
    grid-area: divide;
    font-weight: bold;
    font-size: 28px;
}
#multiply{
    grid-area: multiply;
    font-weight: bold;
    font-size: 28px;
}
#equals{
    grid-area: equals;
    font-weight: bold;
    font-size: 28px;
}
#clear{
    grid-area: clear;
    font-weight: bold;
    font-size: 28px;
}