#main_div{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:80%;
    height: 80%;
    background-color: pink;
    display: flex;
    flex-direction: column;
}
/* .all_titles{
    color: white;
    text-align: center;
} */

#header_div{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex-basis: 10%;
    background-color: rgb(136, 231, 238);
}
#middle_div{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-grow: 1;
}
#aside{
    margin-right: 40px;
    flex-basis: 30%;
    background-color: rgb(93, 237, 184);
}
#article{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(243, 169, 169);
}
/* #article_text{
    align-self: center;
} */
#image_1{
    margin: 30px;
    width: 20%;
    height: 40%;
    display:inline-block;
    background-color: lightgray;
}
#image_2{
    margin: 30px;
    width: 20%;
    height: 40%;
    display:inline-block;
    background-color: lightgray;
 }
 #image_3{
    margin: 30px;
    width: 20%;
    height: 40%;
    display:inline-block;
    background-color: lightgray;
 }
#footer_div{
    
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex-basis: 10%;
    background-color: rgb(136, 231, 238);
}






