
body{
    width: 100vw;

}
header{
    font:bold 3vw "Brush Script MT" ,cursive;
}
input{
    background-color: gray;
    
}
label{
    font-size: 2vw;
}
input:focus{
    background-color:green ;
}
a{
    display: block;
    font-size: 2vw;
}
a:visited{
    color: purple;  
}
a:hover{
    color: blue;
}

ul{
    list-style-type:none;
    font-size: x-large;
}
