
#body_div{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:70%;
    height: 70%;
}
#green{
    width: 100%;
    height: 25%;
    background-color: rgb(177, 247, 177);
}
#blank_1{
    width: 100%;
    height: 5%;
    background-color: white;
}

#yellow{
    width: 30%;
    height: 50%;
    background-color: rgb(244, 244, 131);
    float: left;
    overflow: hidden;
}

.yellow_boxes > div{
    float: left;
    width: 20%;
    height: 20%;
    margin: 15% 15% 5% 15%;
    background-color: lightgray;
}
.yellow_boxes > div:nth-child(3n) {
    clear: both;
}
#blank_2{
    width: 5%;
    height: 50%;
    background-color: white;
    float: left;
}
#red{
    width: 30%;
    height: 50%;
    background-color: rgb(248, 159, 159);
    float: left;
}
.red_boxes > div{
    float: left;
    width: 20%;
    height: 20%;
    margin: 15% 15% 5% 15%;
    background-color:lightgray;
}
.red_boxes > div:nth-child(3n) {
    clear: both;
}
#blank_3{
    width: 5%;
    height: 50%;
    background-color: white;
    float: left;
}

#blue{
    width: 30%;
    height: 75%;
    background-color: rgb(148, 219, 242);
    float: right;
}
#blank_4{
    width: 60%;
    height: 5%;
    background-color: white;
    float: left;
}

#orange{
        width: 65%;
        height: 20%;
        background-color: rgb(252, 224, 170);
        float: left;
    
}


