

#body_div{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
#green{
    flex-basis: 20%;
    background-color: rgb(159, 240, 171);
    margin-bottom: 40px;
}
#below_green{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#half_below_green{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-right: 30px;
}
#yellow_red{
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    margin-bottom: 30px;
}
#yellow{
    flex-basis: 50%;
    background-color: rgb(244, 244, 131);
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
#yellow_boxes_set1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;

}
#yellow_box_1{
    width: 30%;
    height: 20%;
    background-color: lightgray;
   
}
#yellow_box_2{
   
    width: 30%;
    height: 20%;
    background-color: lightgray;
}
#yellow_boxes_set2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
 
}
#yellow_box_3{
    width: 30%;
    height: 20%;
    background-color: lightgray;
   
}
#yellow_box_4{
   
    width: 30%;
    height: 20%;
    background-color: lightgray;
}


#red{
    flex-basis: 50%;
    background-color: rgb(248, 159, 159);
    display: flex;
    flex-direction: row;
}
#red_boxes_set1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;

}
#red_box_A{
    width: 30%;
    height: 20%;
    background-color: lightgray;
   
}
#red_box_B{
   
    width: 30%;
    height: 20%;
    background-color: lightgray;
}
#red_boxes_set2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
 
}
#red_box_C{
    width: 30%;
    height: 20%;
    background-color: lightgray;
   
}
#red_box_D{
   
    width: 30%;
    height: 20%;
    background-color: lightgray;
}

#orange{
    flex-grow: 1;
    background-color: rgb(252, 224, 170);
}
#blue{
    flex-grow: 1;
    background-color: rgb(148, 219, 242);
}
