*{
  box-sizing: border-box;
}
.container{
  display: flex;
  width: 75%;
  flex-wrap:wrap;
  gap:2rem;
  margin: 2rem auto;
  background-color: pink;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 2rem;
  margin: 20px;
}
.color{
  padding: 3rem 2rem;
  flex: 1;
}

.color > div {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
}

.color>div>div{
  background-color: lightgray;
  padding: 2rem 1.5rem;
  flex-basis: 20%;
}
#header{
  background-color: aquamarine;
  flex-basis: 100%;
  margin: 20px;
  text-align: center;
  color: white;
}
#aside{
  background-color: rgb(93, 237, 184);
  text-align: center;
  color: white;
}

#article{
  background-color: rgb(243, 169, 169);
  text-align: center;
  color: white;
}

#footer{
  background-color: orange;
  flex-basis: 100%;
  background-color: rgb(136, 231, 238);
  text-align: center;
  color: white;

}
